@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/ticketQuantity.css" asp-append-version="true"/>
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="@ViewBag.Movie.Poster" alt="@ViewBag.Movie.Name" class="img-fluid">
        </div>
        <div class="col-md-6">

            <h3 class="card-title">@ViewBag.Movie.Name</h3>
            <p class="card-text">@ViewBag.Movie.Description</p>
            <hr>
            <div>
                <h4>Hoeveel @ViewBag.Arrangement kaartjes wilt u kopen?</h4>

                <form method="get" asp-action="Discount">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="showId" value="@ViewBag.ShowId">
                    <input type="hidden" name="arrangement" value="@ViewBag.Arrangement">
                    <select name="quantity" id="quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>

                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <div class="form-group my-5">
                        <input type="submit" value="Volgende" class="btn btn-primary"/>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>