@model dynamic

@{
    ViewBag.Title = "Afrekenen";
    Layout = "_Layout";
    var costInCents = (int)ViewBag.Cost * 100;
}

<h2>title</h2>
<form action="/Payment/Charge" method="POST">
    <input type="hidden" value="@ViewBag.OrderId" name="id">
    <article>
        <label>Bedrag: @ViewBag.Cost</label>
    </article>
    <script src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="@ViewBag.StripePubKey"
            data-locale="auto"
            data-description="Patee Bioscoop bestelling @ViewBag.OrderId"
            data-amount="@costInCents">
    </script>
</form>